.book-shelf{
  .shelf-content-left{
    .ranking{
      background-color: #381E00;
      padding-bottom: 24px;
      .shelf-wrap{
        /* display: flex;
        flex-direction: column;
        gap: 24px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        .shelf-content{
          height: 190px;
          background-color: #E5CEA5;
          display: flex;
          justify-content: center;
          align-items: center;
          a{
            display: block;
            width: 92%;
            height: 80%;
            padding: 16px;
            border-radius: 10px;
            color: black;
            background-color: #fff;
            font-size: 1.4rem;
            text-decoration: none;
            display: flex;
            gap: 10px;
            .ranking-id{
              width: 30px;
              height: 30px;
              border-radius: 50px;
              font-weight: bold;
              color: white;
              background-color: black;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            div {
              width: 85%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              /* border: solid 1px tomato; */
              .article-title {
                font-weight: bold;
              }
              .article-info {
                padding: 6px 0;
                font-size: 1.2rem;
                color: #717171;
                display: flex;
                gap: 16px;
              }
              .count {
                color: #005D9B;
                font-weight: bold;
                span {
                  font-size: 2.4rem;
                }
              }
            }
          }
          &:first-child {
            grid-column: 1 / -1;
            height: 166px;
            a {
              width: 96%;
              .ranking-id {
                background-color: #AFA300;
              }
            }
          }
          &:nth-child(2) {
            a {
              .ranking-id {
                background-color: #9C9C9C;
              }
            }
          }
          &:nth-child(3) {
            a {
              .ranking-id {
                background-color: #AD4F02;
              }
            }
          }
        }
      }
    }
  }

  .shelf-content-right {
    .article-content{
      width: 100%;
      /* height: 123px; */
      height: fit-content;
      border-bottom: solid 10px #381E00;
      padding: 18px 35px;
      a{
        /* border: solid 1px black; */
        display: block;
        width: 100%;
        height: fit-content;
        padding: 0 30px;
        /* border-radius: 0 10px 10px 0; */
        color: black;
        text-decoration: none;
        border-left: solid 2px black;
        transition: 0.3s;
        &:hover{
          transform: translateX(10px);
          /* background-color: #381e004e; */
          color: #00375B;
          border-left: solid 2px #00375B;
          .article-tag {
            span {
              background-color: #00375B;
            }
          }
        }
        h1{
          font-size: 2.4rem;
        }
        .article-title{
          font-size: 1.4rem;
          font-weight: bold;
        }
        .article-info{
          font-size: 1rem;
          display: flex;
          flex-wrap: wrap;
          column-gap: 12px;
        }
        .article-tag{
          font-size: 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          padding-top: 6px;
          span{
            display: block;
            padding: 2px 8px;
            background-color: #381E00;
            color: white;
            border-radius: 4px;
          }
        }
      }
    }
  }
}