.bookshelf {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 20px;

  background-color: #3b2100;
  padding: 20px;
  border: solid 1px white;
}


/* 左側 */
.bookshelf-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 1px tomato;
}


/* 見出し */
.bookshelf h2 {
  margin: 0;
  padding: 10px;
  color: white;
}


/* 2つの棚 */
.shelf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  background-color: #3b2100;
  border: solid 1px skyblue;
}


/* 棚の中身 */
.shelf-item {
  height: 200px;

  background-color: #ead3a6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shelf-item p {
  background-color: white;
  width: 80%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* 右側 */
.recent-articles {
  background-color: #ead3a6;
  padding: 20px;
}

.recent-articles h2 {
  background-color: #3b2100;
  margin: -20px -20px 20px;
}

.article {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}