.book-shelf {
  width: 100%;
  height: 100%;
  padding-inline: 40px;
  background-color: #180D00;

  background-image: url("../assets/wood-pillar.png");
  background-size: cover;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  
  position: relative;
  
  h2 {
    font-size: 2rem;
    color: white;
    padding-block: 16px;
  }
  .shelf-content-left {
    /* border: solid 1px tomato; */
    width: 100%;
    height: 100%;
    background-color: #381E00;
    background-image: url("../assets/wood-image.png");

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 20px; */

    .shelf-saved-article {
      width: 100%;
      padding-inline: 40px;
      /* padding-block: 20px; */

      .shelf-wrap{
        /* display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        .page-link {
          /* border: solid 1px tomato; */
          border-radius: 10px;
          background-color: #fff;
          background-image: url("../assets/wood-image.png");
          background-size: cover;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16%;
          text-decoration: none;
          img {
            width: 40%;
            height: 40%;
            object-fit: contain;
            transition: 0.2s;
          }
          p {
            font-size: 2rem;
            font-weight: bold;
            color: black;
            transition: 0.2s;
          }
          &:hover {
            img {
              filter: brightness(0) saturate(100%) invert(18%) sepia(62%) saturate(3849%) hue-rotate(188deg) brightness(97%) contrast(102%);
            }
            p {
              color: #005D9B;
            }
          }
        }
      }
    }

    .shelf-new-article{
      /* border: solid 1px white; */
      width: 100%;
      /* height: 200px; */
      padding-inline: 40px;
      padding-bottom: 24px;
      /* background-color: #381E00; */
      .shelf-wrap{
        height: 50%;
        /* border: solid 1px black; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        /* .shelf-content{
          height: 120px;
          background-color: #E5CEA5;
          display: flex;
          justify-content: center;
          align-items: center;
        } */
        a{
          width: 100%;
          height: 120px;
          background-color: #fff;
          border-radius: 10px;
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            /* background-color: #fff; */
            background-image: url("../assets/wood-image.png");
          }
          &:hover {
            img {
              transform: scale(0.8);
              /* animation: hoverLink 3s ease-in-out infinite alternate; */
            }
          }
          img{
            width: 50%;
            height: 50%;
            object-fit: contain;
            transition: 0.3s;
            /* animation: hoverLink 4s infinite alternate; */
          }
        }
      }
    }
  }

  .shelf-content-right {
    width: 100%;
    height: 100%;
    background-color: #381E00;
    background-image: url("../assets/wood-image.png");
    .books {
      position: absolute;
      bottom: 0;
      right: 40px;
      width: 300px;
      opacity: 0.7;
    }
  }
  .shelf-pinned-article {
    /* padding-inline: 20px; */
    h2 {
      width: 94%;
      margin: 0 auto;
      padding-inline: 20px;
      /* border: solid 1px tomato; */
    }
    .pinned-list {
      /* padding-block: 24px; */
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      place-items: center;
      .pinned-project {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: solid 1px tomato; */
        &:nth-child(2) .project-content h3 {
          background-color: #007B96;
        }
        &:nth-child(3) .project-content h3 {
          background-color: #C55F00;
        }
        &:nth-child(4) .project-content h3 {
          background-color: #00375B;
        }
        .project-content {
          width: 90%;
          /* height: 160px; */
          height: fit-content;
          /* padding: 16px;
          padding-bottom: 10px; */
          border-radius: 10px;
          background-color: #fff;
          /* border: solid 1px black; */
          h3 {
            font-size: 2rem;
            color: white;
            background-color: #810000;
            background-image: url("../assets/wood-image.png");
            background-size: cover;
            border-radius: 10px 10px 0 0;
            padding: 10px 20px;
          }
          p {
            padding: 10px 20px;
            text-align: right;
            font-size: 1.6rem;
            font-weight: bold;
            background-image: url("../assets/wood-image.png");
            /* border: solid 1px tomato; */
            span {
              font-size: 3.2rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding-inline: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: auto auto; */
    gap: 0;
    overflow-y: scroll;
    h2 {
      height: 36px;
      font-size: 1.2rem;
      padding-block: 4px;
    }
    .shelf-content-left {
      padding-top: 10px;
      .shelf-saved-article {
        /* border: solid 1px tomato; */
        padding-inline: 16px;
        .shelf-wrap {
          /* grid-template-columns: 1fr; */
          gap: 16px;
          /* &:last-child {
            display: flex;
          } */
          .page-link {
            height: 120px;
            img {
              width: 30%;
              transition: 0.2s;
            }
            p {
              font-size: 1rem;
              transition: 0.3s;
            }
          }
        }
      }
      .shelf-new-article {
        padding-inline: 16px;
        grid-template-rows: 1fr 1fr;
        h2 {
          padding-block: 40px;
        }
        .shelf-wrap {
          display: flex;
          flex-direction: column;
          gap: 16px;
          /* padding-top: 10px; */
          a {
            width: 100%;
            height: 100px;
            img {
              width: 90%;
              object-fit: contain;
              /* border: solid 1px tomato; */
            }
            &:last-child {
              img {
                width: 60%;
              }
            }
          }
        }
      }
    }
    .shelf-content-right {
      .books {
        display: none;
      }
      .shelf-pinned-article {
        .pinned-list {
          padding-block: 10px;
          padding-bottom: 100px;
          grid-template-columns: repeat(1, 1fr);
          /* gap: 16px; */
          .pinned-project {
            .project-content {
              /* padding: 10px; */
              h3 {
                font-size: 1.4rem;
                padding-bottom: 10px;
              }
              p {
                font-size: 1rem;
                span {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
