

.memo-shelf-list {
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  border-inline: solid 40px #381E00;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-content: start;
  overflow-y: scroll;
  @media (max-width: 768px) {
    border-inline: solid 20px #381E00;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    h3 {
      font-size: 1.4rem;
    }
    .memo-txt {
      font-size: 1.2rem;
    }
    .memo-date {
      font-size: 1rem;
    }
  }
  .memo-shelf {
    list-style: none;
    width: 100%;
    height: fit-content;
    padding: 24px;
    background-color: #E5CEA5;
    .memo-content {
      width: 100%;
      height: fit-content;
      padding: 0 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      background-color: #fff;
      font-size: 1.4rem;
      h3 {
        padding-top: 24px;
        padding-bottom: 10px;
        border-bottom: solid 1px black;
      }
      .memo-txt {
        padding: 14px 0;
      }
      .memo-date {
        width: fit-content;
        padding: 4px 10px;
        border-radius: 4px;
        color: #fff;
        background-color: #00375B;
      }
    }
  }
}
