main{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  position: fixed;
  /* background-color: #E5CEA5; */
  /* border: solid 1px tomato; */
  .side-bar{
    width: 300px;
    height: 100%;
    background-color: #180D00;
    background-image: url("../assets/wood-image.png");
    background-size: cover;
    overflow-y: scroll;
    color: white;
    /* position: relative; */
    transform: none;
    transition: 0.3s;
    &.close{
      width: 60px;
      .filter-wrap{
        padding-inline: 10px;
      }
      .bar-top>.logo,
      input,
      section,
      .tag,
      .date,
      .display-order{
        display: none;
      }
    }
    .filter-wrap{
      padding-inline: 22px;
      padding-top: 18px;
      padding-bottom: 158px;
      /* border: solid 1px skyblue; */
      .bar-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        .logo{
          width: 150px;
        }
        .sidebar-btn{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          transition: 0.3s;
          cursor: pointer;
          img{
            width: 70%;
          }
          &:hover{
            /* filter: brightness(1.5); */
            background-color: #572f01;
          }
        }
      }
      input{
        width: 100%;
        height: 37px;
        border-radius: 100px;
        border: none;
        outline: none;
        padding: 0 20px;
      }
      section{
        /* border: solid 1px tomato; */
        border-top: solid 2px white;
        padding: 25px 0;
        &:first-of-type{
          border-top: none;
        }
        h1{
          font-size: 2rem;
          margin-bottom: 20px;
        }
        select{
          height: 38px;
          font-size: 1.4rem;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          padding: 0 8px;
          outline: none;
          appearance: none;
        }
      }
      .tag{
        .tag-wrap{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          p{
            width: fit-content;
            height: fit-content;
            padding: 8px 20px;
            font-size: 1.4rem;
            font-weight: bold;
            background-color: white;
            color: black;
            border-radius: 100px;
            cursor: pointer;
            user-select: none;
            transition: 0.3s;
            &.active{
              background-color: #E5CEA5;
            }
          }
        }
        .more-display{
          font-size: 1.4rem;
          margin: 10px 0;
        }
      }
      .date{
        .select-dates{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          row-gap: 10px;
          .select-date{
            /* width: fit-content; */
            width: 100%;
            position: relative;
            /* &::-webkit-calendar-picker-indicator {
              display: none;
            } */
            select{
              /* display: block; */
              width: 114px;
              /* height: 38px;
              font-size: 1.4rem;
              font-weight: bold;
              border: none;
              border-radius: 4px;
              padding: 0 8px;
              outline: none;
              appearance: none; */
            }
            /* &::after{
              content: "";
              position: absolute;
              top: 35%;
              right: 12px;
              width: 6px;
              height: 6px;
              border-right: 2px solid black;
              border-bottom: 2px solid black;
              transform: rotate(45deg);
            } */
          }
        }
        .side-date-arrow{
          width: 15px;
          height: 8px;
          display: block;
          margin: 10px auto;
        }
      }
      .display-order{
        .select-order{
          position: relative;
          select{
            width: 100%;
          }
          &::after{
            content: "";
            position: absolute;
            top: 35%;
            right: 12px;
            width: 6px;
            height: 6px;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-wrap{
      position: absolute;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      gap: 12px;
      flex-wrap: wrap;
      width: 300px;
      /* padding-top: 60px;
      padding-inline: 22px; */
      padding: 22px;
      background-color: #180D00;
      /* background-color: linear-gradient(to bottom, #180D00 0%, #180D00 10%); */
      background-image: url("../assets/wood-image.png");
      background-size: cover;

      /* background: linear-gradient(to bottom, #381E0033 0%, #381E00 10%); */
      /* border: solid 1px tomato; */
      &.close{
        display: none;
      }
      button{
        width: 164px;
        height: 56px;
        border: none;
        border-radius: 100px;
        font-size: 1.4rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        &:last-child{
          background-color: black;
          color: white;
          /* border: solid 1px white; */
        }
      }
    }
  }

  .sidebar-overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    padding-inline: 20px;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      /* padding: 16px; */
      border-radius: 20px 20px 0 0;
      font-size: 2rem;
      color: #fff;
      background-color: #00375B;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .save-btn {
      width: 100%;
      /* border: solid 1px tomato; */
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        to top, rgba(255,255,255,0.5) 20%, #fff 1005);
      button {
        width: 200px;
        height: 50px;
        border-radius: 100px;
        border: none;
        /* padding: 25px 100px; */
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        background-color: #00375B;
      }
    }
    .saving-list-card {
      width: 504px;
      height: 678px;
      /* margin: 10% auto; */
      border-radius: 20px;
      background-color: #fff;
      display: grid;
      grid-template-rows: 62px 1fr 100px;
      gap: 0;
      .saving-list {
        /* border: solid 1px tomato; */
        height: 500px;
        margin-top: 10px;
        /* padding: 20px 0; */
        /* background: linear-gradient(to bottom, #fff 90%, rgba(255,255,255,0.1) 100%); */
        overflow-y: scroll;
        li {
          padding: 18px 30px;
          font-size: 1.6rem;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .memo-card {
      width: 504px;
      height: 600px;
      /* margin: 10% auto; */
      border-radius: 20px;
      background-color: #fff;
      display: grid;
      grid-template-rows: 62px 1fr 100px;
      gap: 0;
      .memo-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: solid 1px tomato; */
        h2 {
          width: 90%;
          padding: 10px 0;
        }
        textarea {
          width: 90%;
          height: 360px;
          padding: 10px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px #00375B;
        }
      }
    }
  }

  .main-block{
    /* border: solid 1px tomato; */
    flex: 1;
    /* background-color: #E5CEA5; */
    background-color: #381E00;
    background-image: url("../assets/wood-image.png");
    background-size: cover;
    padding: 20px 0;
    overflow-y: scroll;
    .article-list{
      /* border: solid 1px tomato; */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      .article-content{
        width: 96%;
        /* height: 123px; */
        height: fit-content;
        /* border-bottom: solid 10px #381E00; */
        background-color: #fff;
        padding: 18px 35px;
        border-radius: 10px;
        background-image: url("../assets/wood-image.png");
        background-size: cover;
        /* border: solid 1px tomato; */
        a{
          /* border: solid 1px black; */
          display: block;
          width: 100%;
          height: fit-content;
          padding: 0 30px;
          /* border-radius: 0 10px 10px 0; */
          color: black;
          text-decoration: none;
          border-left: solid 2px black;
          transition: 0.3s;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -11px;
            width: 20px;
            height: 20px;
            background-color: #00375B;
            border-radius: 10px;
          }
          &:hover{
            transform: translateX(10px);
            /* background-color: #381e004e; */
            color: #00375B;
            border-left: solid 2px #00375B;
            .article-tag {
              span {
                background-color: #00375B;
              }
            }
          }
          h1{
            font-size: 2.4rem;
          }
          .article-title{
            font-size: 1.4rem;
            font-weight: bold;
          }
          .article-info{
            font-size: 1rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            padding-top: 4px;
            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
              /* pointer-events: none; */
            }
            .btn-bookmark-wrap {
              position: relative;
              &:hover {
                &::after {
                  display: flex;
                }
              }
              &::after {
                content: "プロジェクトに保存";
                position: absolute;
                top: 110%;
                left: -220%;
                width: 100px;
                height: 10px;
                padding: 8px 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: #222;
                border-radius: 4px;
                display: none;
              }
            }
            .btn-memo-wrap {
              position: relative;
              &:hover {
                &::after {
                  display: flex;
                }
              }
              &::after {
                content: "メモを残す";
                position: absolute;
                top: 110%;
                left: -140%;
                width: 60px;
                height: 10px;
                padding: 8px 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: #222;
                border-radius: 4px;
                display: none;
              }
              .btn-memo {
                width: 19px;
                height: 19px;
              }
            }
          }
          .article-tag{
            font-size: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            padding-top: 6px;
            span{
              display: block;
              padding: 2px 8px;
              background-color: #381E00;
              color: white;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .side-bar {
      padding-bottom: 50px;
      /* border: solid 1px tomato; */
    }
  }
}
