main{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  position: fixed;
  background-color: #E5CEA5;
  /* border: solid 1px tomato; */
  .side-bar{
    width: 300px;
    height: 100%;
    background-color: #381E00;
    overflow-y: scroll;
    color: white;
    /* position: relative; */
    transform: none;
    .filter-wrap{
      padding-inline: 22px;
      padding-top: 18px;
      padding-bottom: 158px;
      /* border: solid 1px skyblue; */
      input{
        width: 100%;
        height: 37px;
        border-radius: 100px;
        border: none;
        outline: none;
        padding: 0 20px;
      }
      section{
        /* border: solid 1px tomato; */
        border-top: solid 2px white;
        padding: 25px 0;
        &:first-of-type{
          border-top: none;
        }
        h1{
          font-size: 2rem;
          margin-bottom: 20px;
        }
        select{
          height: 38px;
          font-size: 1.4rem;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          padding: 0 8px;
          outline: none;
          appearance: none;
        }
      }
      .tag{
        .tag-wrap{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          p{
            width: fit-content;
            height: fit-content;
            padding: 8px 20px;
            font-size: 1.4rem;
            font-weight: bold;
            background-color: white;
            color: black;
            border-radius: 100px;
            cursor: pointer;
            user-select: none;
            transition: 0.3s;
            &.active{
              background-color: #E5CEA5;
            }
          }
        }
        .more-display{
          font-size: 1.4rem;
          margin: 10px 0;
        }
      }
      .date{
        .select-dates{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          row-gap: 10px;
          .select-date{
            /* width: fit-content; */
            width: 100%;
            position: relative;
            select{
              /* display: block; */
              width: 114px;
              /* height: 38px;
              font-size: 1.4rem;
              font-weight: bold;
              border: none;
              border-radius: 4px;
              padding: 0 8px;
              outline: none;
              appearance: none; */
            }
            &::after{
              content: "";
              position: absolute;
              top: 35%;
              right: 12px;
              width: 6px;
              height: 6px;
              border-right: 2px solid black;
              border-bottom: 2px solid black;
              transform: rotate(45deg);
            }
          }
        }
        .side-date-arrow{
          width: 15px;
          height: 8px;
          display: block;
          margin: 10px auto;
        }
      }
      .display-order{
        .select-order{
          position: relative;
          select{
            width: 100%;
          }
          &::after{
            content: "";
            position: absolute;
            top: 35%;
            right: 12px;
            width: 6px;
            height: 6px;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-wrap{
      position: absolute;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      gap: 12px;
      flex-wrap: wrap;
      width: 300px;
      /* padding-top: 60px;
      padding-inline: 22px; */
      padding: 22px;
      background-color: #381E00;
      background: linear-gradient(to bottom, #381E0033 0%, #381E00 10%);
      /* border: solid 1px tomato; */
      button{
        width: 164px;
        height: 56px;
        border: none;
        border-radius: 100px;
        font-size: 1.4rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        &:last-child{
          background-color: black;
          color: white;
          /* border: solid 1px white; */
        }
      }
    }
  }

  .main-block{
    /* border: solid 1px tomato; */
    flex: 1;
    background-color: #E5CEA5;
    padding: 20px 0;
    overflow-y: scroll;
    .article-list{
      /* border: solid 1px tomato; */
      .article-content{
        width: 100%;
        /* height: 123px; */
        height: fit-content;
        border-bottom: solid 10px #381E00;
        padding: 18px 35px;
        a{
          /* border: solid 1px black; */
          display: block;
          width: 100%;
          height: fit-content;
          padding: 0 30px;
          /* border-radius: 0 10px 10px 0; */
          color: black;
          text-decoration: none;
          border-left: solid 2px black;
          transition: 0.3s;
          &:hover{
            transform: translateX(10px);
            /* background-color: #381e004e; */
            color: #005D9B;
            border-left: solid 2px #005D9B;
          }
          h1{
            font-size: 2.4rem;
          }
          .article-title{
            font-size: 1.4rem;
            font-weight: bold;
          }
          .article-info{
            font-size: 1rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 12px;
          }
          .article-tag{
            font-size: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            padding-top: 6px;
            span{
              display: block;
              padding: 2px 8px;
              background-color: #381E00;
              color: white;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}